user.name=Luis Sotomayor
user.email=luis.sotomayor@gmail.com
core.excludesfile=/Users/lasl321/.gitignore_global
core.pager=diff-so-fancy | less --tabs=4 -RFX
core.editor=nvim
interactive.difffilter=diff-so-fancy --patch
pull.rebase=false
fetch.prune=true
push.default=simple
mergetool.keepbackup=false
init.defaultbranch=master
safe.barerepository=explicit

